[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"
pylint = "*"
autopep8 = "*"
pygraphviz = "*"
pydotplus = "*"
pylint-django = "*"

[packages]
django = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
