{% load staticfiles %}
{%block lista_filmes%}
<link rel="stylesheet"  href="{% static 'css/lista_filmes.css' %}">
{%endblock%}
{% block content %}
<div class="container">
<h2><a href="{% url 'filme_list' %}">Safira Administrador</a></h2>

<ul>
    {% for filme in object_list %}
    <li>{{ filme.title }} ({{ filme.year }} Ano)
    <a href="{% url 'filme_edit' filme.pk %}">Editar</a>
    <a href="{% url 'filme_delete' filme.pk %}">Deletar</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'filme_new' %}">Novo</a>
</div>
{% endblock %}