{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {%block title%}{%endblock%}</title>
        {%block css_filmes%}{%endblock%}
        <script src="{% static 'js/ism-2.2.min.js' %}" ></script>
        <script src="https://unpkg.com/ionicons@4.5.9-1/dist/ionicons.js"></script>
        <meta name="descripition" content="Site especializado em Filmes, séries e animes antigos e atuais.">
        <meta name="keywords" content="Site de filmes online">
        <meta name="robots" content="index, follow">
        <meta name="author" content="Raul e Reubber">
        <link rel="stylesheet" href="{% static 'css/my-slider.css' %}" >
        <!-- <link rel="stylesheet"  href="{% static 'css/bootstrap.css' %}" > -->
        <link rel="stylesheet"  href="{% static 'css/style.css' %}" >
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
        <link href="https://unpkg.com/ionicons@4.5.9-1/dist/css/ionicons.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="icon"  href="{% static 'imagens/icon.png' %}" >
    </head>
    <body>
        <header class="cabecalho">
            <a hreft="index.html"><h1 class="logo">Safira - Filmes, Séries e Animes.</h1></a>
            <button class="btn-menu"> <ion-icon name="list-box"></ion-icon></button>
            <nav class="menu">
                <a class="btn-close"> <ion-icon name="close-circle-outline"></ion-icon> </a>
                <ul>
                    <li><a href="/"> Inicio </a></li>
                    <li><a href="{% url 'filme_quem_somos' %}"> Quem Somos? </a></li>
                </ul>
        </header>
        <section class="devs">
            <h2> Desenvolvedores: </h2>
                {%load staticfiles%}
                
                <img src="{% static 'imagens/dev1.png' %}">
                <p> Reubber de Sousa Silva<br>
                    reubbers@gmail.com<br>
                    (88)997182931</p>

                    <img src="{% static 'imagens/dev-2.png' %}">
                    <p> Raul de Sousa Silva<br>
                        raul.sousa2016@gmail.com<br>
                        (88)996283583</p>
                
        </section>

        <footer class="footer">
            <div class="social-icons">
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
            </div>
            <p class="copyright">
                Copyright © Raul e Reubber desenvolvimentos 2019. Todos os direitos reservados.
            </p>
        </footer>

        
        <script src="{% static 'js/jquery.js' %}"></script>
        <script>
        $(".btn-menu").click(function(){
            $(".menu").show();
        });
        $(".btn-close").click(function(){
            $(".menu").hide();
        });
        </script>
    </body>
</html>